*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
}
section{
    background: linear-gradient(
        
        136.16deg,
        rgba(91,135,75,0.97) 12.91%,
        rgba(12,55,32,0.87) 87.68%
    );
    height: 100vh;
}
section .container span{
    color: white;
}
section .container{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    height: 100%;
}
section .container header,
section .container header .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section .container nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
section .container nav a{
    margin-left: 50px;
    color: white;
    font-size: 14px;
   
    
}
section .container nav a:nth-child(5){
    font-weight: 500;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 50px;
    
}

section .container .middle-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.citrouille{
    width: 300px;
    height: 300px;
}
section .container .middle-content .left{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    position: relative;
}

section .container .middle-content .left::before
{
    background-color: red;
}
section .container .middle-content .left .infos{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    
}
section .container .middle-content .left .infos .infos-bloc-left{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: white;
    margin-right: 30px;
    
}

section .container .middle-content .left .infos .infos-bloc-left span:nth-child(1){
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 180%
    
}

section .container .middle-content .left .infos .infos-bloc-left span:nth-child(2){
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px
     
 }
section  .container .middle-content .right{
    padding-left: 100px;
    
}
section  .container .middle-content .right  .bloc-text{
    color: white;
}
section  .container .middle-content .right  .bloc-text span{

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}
section  .container .middle-content .right  .bloc-text h1{

    font-style: normal;
    font-weight:900;
    font-size: 68px;
   line-height: 109%;
   margin:14px 0px;
}

section  .container .middle-content .right  .bloc-text p{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 180%;
margin: 25px 0px;
}
section .container .middle-content .bloc-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
section .container .middle-content .bloc-button .book-now{
    padding:10px 20px ;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
section .container .middle-content .bloc-button .book-now a{
  color:blueviolet;
}
.track-record a{
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    
}
section .container .bottom-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section .container .bottom-content .all-ghost-btn{
    height: 90px;
    width: 190px;
    justify-content: center;
    align-items: center;
    
}
section .container .bottom-content .all-ghost-btn a{
    color: white;
}
@media screen and (max-width:1100px){
    section .container{
        padding: 20px 50px;
        
    }
    section .container .middle-content{
        flex-direction: column-reverse;
        margin-top: 10px;
        
    }
    section  {
        height: 100%;
        
    }
    section .container .middle-content .right{
        padding-left: 0px;
        max-width: 800px;
        margin-top: 50px;
        
    }
    section .container .middle-content .left{
  
        margin-top: 50px;
        
    }
}

@media screen and (max-width:900px){
    section header{
        display: none !important;
        
    }
}
@media screen and (max-width:600px){
    section  .container .middle-content   .bloc-text h1{
        font-size: 45px;
        
    }
    section  .container .middle-content   .left img{
        width: 100%;
        
    }
   
    section  .container {
padding:1px 20px;        
    }
}

@media screen and (max-width:312px){
    section .container .right .bloc-text h1{
        font-size: 3.3rem !important;
    }
}
@media screen and (max-width:1034px){
    section  .container .middle-content   .left .infos{
        display: none;
        
    }
}